In [1]:
#importing libraries
import pandas as pd
import numpy as np

####  Read the books dataset and explore it

In [10]:
#reading in csv files
#note: cleaned csv files for records with improper encoding and rows that had incorrect data entries before loading in
books.head()
books=pd.read_csv("BX-Books.csv", encoding="utf-8")

,isbn,book_title,book_author,year_of_publication,publisher
0,312956762,Die Hard: With a Vengeance - A Novel,D. Chiel,1995,St Martins Pr
1,034545006X,The Taking,J. D. Landis,2003,Ballantine Books
2,1579651372,Ruskin's Rose: A Venetian Love Story,Mimma Balia,2000,Artisan Publishers
3,416652700,The Pooh cook book: inspired by \Winnie-the-Po...,";Katie Stewart""",1971,Methuen
4,1853114103,Lord Have Mercy,"\\""Ron\""""",2001,Canterbury Press

In [3]:
books.tail()

,isbn,book_title,book_author,year_of_publication,publisher
271353,1573222623,Drinking Coffee Elsewhere (Today Show Book Clu...,ZZ Packer,2003,Riverhead Books
271354,1573222348,Drinking Coffee Elsewhere (Alex Awards (Awards)),ZZ Packer,2003,Riverhead Books
271355,1573223786,Drinking Coffee Elsewhere,Zz Packer,2004,Riverhead Books
271356,9627982032,The Credit Suisse Guide to Managing Your Perso...,NaN,1995,Edinburgh Financial Publishing
271357,751352497,A+ Quiz Masters:01 Earth,NaN,1999,Dorling Kindersley

In [4]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271358 entries, 0 to 271357
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   isbn                 271358 non-null  object
 1   book_title           271358 non-null  object
 2   book_author          271356 non-null  object
 3   year_of_publication  271358 non-null  int64
 4   publisher            271356 non-null  object
dtypes: int64(1), object(4)
memory usage: 10.4+ MB

#### Clean up NaN values

In [5]:
books[books.isna().any(axis=1)]# records containing null values

,isbn,book_title,book_author,year_of_publication,publisher
70531,193169656X,Tyrant Moon,Elaine Corvidae,2002,NaN
159822,1931696993,Finders Keepers,Linnea Sinclair,2001,NaN
271356,9627982032,The Credit Suisse Guide to Managing Your Perso...,NaN,1995,Edinburgh Financial Publishing
271357,751352497,A+ Quiz Masters:01 Earth,NaN,1999,Dorling Kindersley

In [6]:
#dropping records
books=books.dropna()

In [9]:
books.shape# 4 records have been dropped

(271354, 5)

#### Read the data where ratings are given by users

In [13]:
ratings=pd.read_csv("BX-Book-Ratings.csv",encoding="latin-1")# utf-8 encoding doesn't work

In [26]:
ratings.head()
ratings.tail()
ratings["user_id"].max()

278854

In [15]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1048575 non-null  int64
 1   isbn     1048575 non-null  object
 2   rating   1048575 non-null  int64
dtypes: int64(2), object(1)
memory usage: 24.0+ MB

#### Take a quick look at the number of unique users and books

In [18]:
ratings["user_id"].nunique(), ratings["isbn"].nunique()

(95513, 322102)


* Convert ISBN variables to numeric numbers in the correct order

* Convert the user_id variable to numeric numbers in the correct order

* Convert both user_id and ISBN to the ordered list, i.e., from 0...n-1

In [35]:
sorted_unique_isbn=sorted(books["isbn"].unique())

In [21]:
# importing users dataset

users=pd.read_csv("BX-Users.csv",encoding="latin-1")

C:\Users\skv08\AppData\Local\Temp/ipykernel_16648/2050316578.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  users=pd.read_csv("BX-Users.csv",encoding="latin-1")

In [45]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278859 entries, 0 to 278858
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   278859 non-null  object
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), object(2)
memory usage: 6.4+ MB

In [46]:
user_ids=users["user_id"].astype(str)
sorted_unique_user_ids=sorted(user_ids)

In [47]:
# assigning unique values from 0 to n-1 for isbns and user_ids

enumerate(sorted_unique_isbn)

In [66]:
# ordered lists:
numeric_isbn={isbn:index for index, isbn in enumerate(sorted_unique_isbn)}
numeric_user_ids={user_ids:index for index, user_ids in enumerate(sorted_unique_user_ids)}

#### Build Matrix

In [ ]:
#Users are Rows, Books are Columns, Ratings are values